@charset "UTF-8";
table{
	text-align: center;
	border: 1px solid;
	border-collapse: collapse;
}
td, th{
	border: 1px solid;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.nb{
	border: none;
}
.rt{
	text-align: right;
}
.ub{
	border-bottom: 3px solid black;
}
.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(-90deg);

}
.verticalTableHeader:before {
    content:'';
    padding-top:110%;
    display:inline-block;
    vertical-align:middle;
}
.xo{
	text-decoration: line-through double red;
}